
#Protegendo o próprio .htaccess
<files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</files>

#Definindo páginas iniciais padrão
DirectoryIndex index.html index.php index.htm index.cgi index.pl

#Forçando UTF-8
<FilesMatch ".(htm|html|css|js)$">
AddDefaultCharset UTF-8
</FilesMatch>