
#Protegendo o próprio .htaccess
<files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</files>

#Forçando redirecionamento de http para https (SSL)
RewriteEngine On
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

#Definindo páginas iniciais padrão
DirectoryIndex index.html index.php index.htm index.cgi index.pl

#Forçando UTF-8
<FilesMatch ".(htm|html|css|js)$">
AddDefaultCharset UTF-8
</FilesMatch>

#Bloqueando hotlinks em imagens
RewriteEngine on
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?sirleilima.tk [NC]
RewriteRule \.(jpg|jpeg|png|gif)$ - [NC,F,L]